body {
	background-color: lightskyblue;
}

h1 {
	text-align: center;
	font-size: 4em;
	font-weight: bold;
}

.form {
	margin-top: 50px;
	font-size: 18px;
}

.form form select {
	margin-right: 10px;
}