body {
	background-color: lightskyblue!important;
}

h1 {
	text-align: center;
	font-size: 4em;
	font-weight: bold;
}

form {
	margin-top: 50px;
}

form input {
	font-family: "Roboto", sans-serif;
	height: 34px;
	width: 30%;
	margin-top: 10px;
	border-color: lightskyblue;
	border-radius: 5px;
}

form button {
	margin-top: 10px;
}

a {
	margin-top: 10px;
	margin-left: 15px;
	color: red;
}